html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    
    display: flex;
    flex-direction: column;
    background-color: #F8F9FB;
}

.main {
    display: flex;
    flex-direction: row;
    
    flex: 1 0 auto;
    
}

.container {
    display: flex;
    flex-direction: column;
   
    flex: 1;
    
}

.config {
    display: flex;
    flex-direction: column;
    
    padding: 0.6rem 1rem;
    height: 100%;
    
}


.input-row {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.input-row > * {
  flex: 1 1 0;
  min-width: 0;             
}

@media (max-width: 640px) {
    .main {
        flex-direction: column;
        flex: 1 0 auto;
    }

@media (max-width: 540px) {
    form {
        margin-top: 1rem;
    }
    .input-row {
        gap: 1rem;
    }
}
}

.cell{
    display: flex;
    
}
.cell > * {
    flex: 1;
}

.radio-group {
    display: flex;
    justify-content: center;  
    gap: 0.5rem;                
    margin-top: 1rem;
}
#k {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

#k input[type="radio"] {
    display: none;  
}

#k .radio-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid #FF7A00;
    background: #fff;  
}


#k input[type="radio"]:checked + .radio-circle {
    background: #FF7A00;
    transition: 0.3s;
}

